body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
  /* display: flex; */
  /* justify-content: center; */
  color: #fefefe;
  /* align-items: center; */
  height: 100vh;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  /* overflow: hidden; */
}
.navbar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  width: 245px;
  /* justify-content: space-between; */
  background-color: var(--background-color);
  padding-top: 20px;
  padding-bottom: 10px;
  padding-inline: 10px;
  border-right: 0.1px solid rgba(76, 75, 75, 0.466);
  position: sticky;
  top: 0px;
}

@media (max-width: 750px) {
  .container .navbar {
    flex-direction: row;
    background-color: var(--background-color);
    position: fixed;
    z-index: 1000;
    height: 60px;
    bottom: -1px;
    top: auto;
    gap: 0;
    border-right: none;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    box-shadow: -1px 14px 20px 4px black;
  }

  .middle-section .post-section {
    padding: 40px 5px;
  }

  .navbar a {
    display: none;
  }

  .navbar .sub-section {
    padding: 10px 10px;
  }

  #hidden {
    display: none;
  }

  #hidden1 {
    display: none;
  }

  #hidden2 {
    display: none;
  }

  .instagram-text-logo {
    display: none;
  }
}

@media (max-width: 1198px) {
  .navbar .sub-section a {
    display: none;
  }

  .navbar .menu-section a {
    display: none;
  }

  .navbar .sub-section {
    gap: 0;
  }

  .instagram-text-logo {
    display: none;
    /* position: absolute; */
  }

  .navbar {
    width: 79px;
  }
}
.sub-section {
  display: flex;
  align-items: center;
  gap: 25px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.2s ease;
}
.sub-section a {
  all: unset;
}

.sub-section:hover {
  background-color: var(--background-on-hover);
}

.sub-section:hover i {
  transform: scale(1.07);
  transition: all 0.2s ease;
}

.sub-section:hover a {
  font-weight: 600;
}

.sub-section:hover .profile-img {
  transform: scale(1.07);
  transition: all 0.2s ease;
}

.sub-section i {
  font-size: 1.3rem;
  color: var(--font-color);
  transition: all 0.2s ease;
}

.profile-img {
  width: 25px;
  height: 25px;
  margin-right: -8px;
  border-radius: 50%;
  /* background-color: #fff; */
  transition: all 0.2s ease;
  cursor: pointer;
}
.profile-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* background-color: #fff; */
  transition: all 0.2s ease;
  cursor: pointer;
}
.sub-section:hover .profile-img {
  transform: scale(1.07);
  transition: all 0.2s ease;
}
.profile-img img {
  width: 100%;
  border-radius: 50%;
}
.menu-section {
  display: flex;
  gap: 25px;
  align-items: center;
  /* position: absolute;
    bottom: 10px; */
  margin-top: 23px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.menu-section:hover {
  background-color: var(--background-on-hover);
}

.menu-section:hover i {
  transform: scale(1.07);
  transition: all 0.2s ease;
}

.menu-section i {
  color: var(--font-color);
  font-size: 1.2rem;
  transition: all 0.2s ease;
}

.chat-page {
  width: 94%;
  height: 100%;
  /* background-color: lightblue; */
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
}
.left-sec {
  width:24vw;
  /* background-color: #772c2c; */
  height: 100%;
  position: relative;
  /* padding: 30px 0 20px 10px; */
  border: 1px solid #fefefe;
}
.left-sec a{
  text-decoration: none;
  color: #fff;
}
.left-header {
  margin: 40px 0 40px 0;
  width: 100%;
  height: 4%;
  display: flex;
  align-items: center;
  gap: 20px;
  /* background-color: rgb(39, 38, 38); */
  /* border: 1px solid #fefefe; */
}
.img {
  width: 60px;
  height: 60px;
  margin-left: 15px;
  border-radius: 50%;
  /* background-color: red; */
  overflow: hidden;
}
.img img {
  width: 100%;
  height: 100%;
  background-position: top;
  border-radius: 50%;
  object-fit: cover;
}
.left-chat-sec {
  width: 100%;
  height: 100%;
  overflow: auto;
  white-space: nowrap;
  border: 1px solid #fefefe;
}
.left-chat-sec::-webkit-scrollbar {
  display: none;
}
.chat-user {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 20px;
  /* border: 1px solid #fefefe; */
  width: 100%;
  height: 90px;
}
.online-status{
  color: green;
}
.offline-status{
  color: red;
}
.chat-user:hover {
  background-color: #161414;
}
.right-sec {
  width: 70%;
  height: 100%;
  position: relative;
  display: none;
}

.right-header {
  margin: 9px 0 40px 0;
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #fefefe;
}
.right-chat-sec {
  width: 100%;
  height: 100%;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
}
.chat-area {
  width: 100%;
  height: 65%;
  margin-bottom: 30px;
  /* background-color: yellowgreen; */
  overflow-y: auto;
}
.chat-area::-webkit-scrollbar {
  display: none;
}
.sender {
  float: left;
  clear: both;
  min-width: 6%;
  max-height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  padding-left: 10px;
  margin-left: 20px;
  background-color: #362f2f;
}
.receiver {
   float: right;
  clear: both;
  min-width: 6%;
  max-height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  padding-left: 10px;
  margin-right: 20px;
  background-color: #362f2f;
}
.right-chat-sec #chat-form {
  width: 99%;
  height: 8%;
  margin-left: 5px;
  display: flex;
  /* background-color: aqua; */
  border-radius: 10px;
}
.right-chat-sec #chat-form input {
  height: 95%;
  width: 85%;
  border: none;
  padding-left: 8px;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
}
.right-chat-sec #chat-form button {
  height: 100%;
  width: 15%;
  background-color: green;
  border-radius: 10px;
  border: none;
}
/* search card */

.search-card {
  /* margin: auto; */
  width: 450px;
  height: auto;
  display: none;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  padding: 10px;
  position: absolute;
  z-index: 999;
  left: 50%;
  transform: translate(-50%,0);
  background-color: #555555a6;
  border-radius: 5px;
  overflow: hidden;
}
.search-inp {
  width: 95%;
  height: 40px;
  /* background-color: #fff; */
  border-radius: 50px;
}
.mdl-textfield__input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50px;
  display: flex;
  padding:0 10px;
  justify-content: center;
}
.search-content{
  width: 450px;
  top: 60px;
  position: absolute;
  gap: 20px;
  background-color: #55555577;
  height: auto;
  /* background-color: #c850c0; */
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}
.search-content a{
  display: flex;
  border-radius: 15px;
  max-width: 50%;
  height: 50px;
  align-items: center;
  background: #ffffff;
  gap: 8px;
  /* justify-content: center; */
}
.search-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  /* background-color: #c850c0; */
}
.search-img img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.search-name{
  min-width: 50px;
  /* background-color; */
}